.contact {
  padding: 60px 0;

  background-color: var(--bg-gray);
}

.wrapper {
  display: flex;
  gap: 75px;
  justify-content: center;
  align-items: center;
}

@media screen and (width <= 1190px) {
  .wrapper {
    flex-direction: column;
    gap: 25px;
  }

  .contact {
    padding: 20px 0;
  }
}
