/* TODO: find good normalize */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-black: #1a1919;
  --green: #cdff4e;
  --bg-gray: #f0f3f5;
  --btn-gray: #f6f9fa;
  --btn-gray-darker: #e3e8eb;
  --txt-gray: #838383;
  --white: #fff;
  --black: #000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
