.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;

  background: var(--btn-gray);

  transition: all 0.3s;
}

.header.white {
  background: var(--white);

  box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;

  transition: all 0.3s;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
}

.title {
  padding-top: 5px;

  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title > a {
  color: var(--title-black);
  text-decoration: none;
}

.title:hover {
  cursor: pointer;
}

.contact {
  padding: 14px 32px;

  color: var(--white);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  border: none;
  border-radius: 32px;

  background-color: var(--title-black);
}

.contact:hover {
  cursor: pointer;
}

/* stylelint-disable selector-class-pattern */
.logoButton {
  border: none;

  background: none;

  outline: none;
}

.logoButton > img {
  width: 80%;
  height: 80%;

  /* object-fit: contain; */
}

@media screen and (width <= 820px) {
  .logoButton {
    width: 75px;
    height: 83px;
  }

  .logoButton > img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (width <= 450px) {
  .title {
    font-size: 24px;
  }
}
