.wrapper {
  position: relative;
  min-height: 410px;
  width: 100%;
  overflow: hidden;
}

@media screen and (width > 545px) {
  .wrapper {
    min-height: 610px;
  }
}

@media screen and (width > 768px) {
  .wrapper {
    min-height: 810px;
  }
}
